@use '../../../scss/' as *;

.auth-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    @include mobile {
        min-height: 80vh;
    }
    .auth-page {
        // max-height: 100vh;
        // font-family: 'Sora', sans-serif;
        // background-color: rgb(239, 240, 255);
        background-color: white;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        line-height: 1.5;
        padding: 1.4rem;
        font-size: 1.2rem;
        width: 500px;
        border-radius: 14px;
        // box-shadow: 0px 0px 14px 3px rgb(222, 224, 250);
        // overflow: hidden;
        box-shadow: $box-shadow;

        &_header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & :nth-child(3) {
                opacity: 0;
            }
        }

        .infoform {
            // max-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            gap: 0.5rem;
            margin-top: 1.2rem;
            font-weight: 500;
            border-radius: 14px;
            padding: 1rem;
        }
        .btn {
            cursor: pointer;
            align-self: flex-end;
            color: white;
            border: none;
            // border-radius: 8px;

            &-submit {
                font-size: 0.8rem;
                padding: 0.8rem 1.2rem;
                background-color: $main-color;
                @include tablet {
                    font-size: 1.2rem;
                    padding: 0.8rem;
                }
                @include mobile {
                    font-size: 1.1rem;
                    padding: 1rem;
                }
            }
        }
    }
}

.errorMsg {
    max-width: 100%;
    font-size: 1rem;
    color: rgb(248, 106, 106);
    @include tablet {
        font-size: 1rem;
    }
    @include mobile {
        font-size: 1.2rem;
    }
}
